GEMINI_API_KEY=key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=key
CLERK_SECRET_KEY=key
JWT_KEY="-----BEGIN PUBLIC KEY-----
key
-----END PUBLIC KEY-----"
DB_USER=postgres
DB_PASS=1234
DB_NAME=postgres
DB_PORT=5432
DB_HOST=localhost
OPENAI_API_KEY=key
AGENT_OPEN_AI_MODEL='model'