fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
google-genai==1.31.0
pytubefix==9.4.1
moviepy==2.2.1
python-multipart==0.0.20
aiofiles==24.1.0
python-dotenv==1.1.1
SQLAlchemy==2.0.43
clerk-backend-api==3.2.1